header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  box-shadow: 0px -10px 10px 3px black;
}
  header h1 {
    font-size: 24px;
    padding-left: 30px;
    font-weight: 400;
    font-family: sans-serif;
  }

.header--burger {
  background-image: url(../img/burger.svg);
  width: 30px;
  height: 25px;
  margin-right: 30px;
}
.map {
  width: 100%;
  height: 80vh;
  background-color: #ccc;
}

menu {
  position: fixed;
  z-index: 150;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}

  menu a {
    text-decoration: none;
    font-size: 24px;
    line-height: 36px;
    font-family: sans-serif;
    padding: 30px 0 30px 50px;
    color: black;
  }
  menu a:first-child {
    margin-top: 120px;
  }

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  box-shadow: 0px 10px 10px 3px black;
}

  .footer--icon {
    background-size: cover;
    margin: 10px 20px;
    width: 40px;
    height: 40px;
  }
  .footer--settings {
    background-image: url(../img/settings.svg);
  }
  .footer--save {
    background-image: url(../img/settings.svg);
  }
  

.push {
  width: 90%;
  height: 90px;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  top: -50%;
  left: 5%;
  background-image: url(../img/warning.svg);
  background-repeat: no-repeat;
  background-position: 8% 50%;
  border: 1px solid #FF7979;
  color: #FF7979;

}
  .push p {
    width: 220px;
    font-family: sans-serif;
    font-size: 18px;
    padding-left: 90px;
    padding-top: 22px;
    line-height: 22px;
  }

